<!-- app/views/pages/welcome.html.erb -->

<header class="main-header">
  <div class="container">
    <h1>About me</h1>
  </div>
</header>
<main class="main-content">
  <div class="container">
    <h2>About me</h2>
    <p>Adding another page.</p>
  </div>
</main>
